@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: var(--font-lorin);
  --font-mono: var(--font-lorin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lorin, sans-serif;
}

@theme {
  --font-display: "Lorin", "sans-serif";
  --font-body: "Lorin", "serif";
  --color-primary: #2a0a9a;
  --color-secondary: #a594fd;
  --color-red: #ba0e0e;
  --color-orange: #ef930a;
  --color-green: #0ccb2a;
  --color-7b: #7b7b7b;
}

@layer utilities {
  .bg-hero-main-gradient {
    background: linear-gradient(
      180deg,
      #2a0a9a 5.07%,
      #804ebd 62.52%,
      #d2a6ca 123.75%
    );
  }
}
